<launch>
    <include file="$(find icar_routine)/launch/common.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!--  -->
       <!-- Velodyne 1 Configuration (Replaces Lidar Leshen C16) -->
    <group ns="velodyne1">
        <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
        <arg name="device_ip" default="192.168.1.201" />
        <arg name="frame_id" default="lidar_front_link" />
        <arg name="manager" default="velodyne1_nodelet_manager" />
        <arg name="max_range" default="30.0" />
        <arg name="min_range" default="0.05" />
        <arg name="port" default="2368" />
 
        <!-- Nodelet Manager and Driver for Velodyne 1 -->
        <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
            <arg name="device_ip" value="$(arg device_ip)"/>
            <arg name="frame_id" value="$(arg frame_id)"/>
            <arg name="manager" value="$(arg manager)" />
            <arg name="model" value="VLP16"/>
            <arg name="port" value="$(arg port)"/>
        </include>
 
        <!-- Transform Nodelet for Velodyne 1 -->
        <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
            <arg name="model" value="VLP16"/>
            <arg name="calibration" value="$(arg calibration)"/>
            <arg name="manager" value="$(arg manager)" />
            <arg name="max_range" value="$(arg max_range)"/>
            <arg name="min_range" value="$(arg min_range)"/>
        </include>
    </group>
        <!-- Velodyne 2 Configuration (Replaces Lidar Leshen N301) -->
    <group ns="velodyne2">
        <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
        <arg name="device_ip" default="192.168.1.202" />
        <arg name="frame_id" default="lidar_rearright_link" />
        <arg name="manager" default="velodyne2_nodelet_manager" />
        <arg name="max_range" default="30.0" />
        <arg name="min_range" default="0.05" />
        <arg name="port" default="4122" />
 
        <!-- Nodelet Manager and Driver for Velodyne 2 -->
        <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
            <arg name="device_ip" value="$(arg device_ip)"/>
            <arg name="frame_id" value="$(arg frame_id)"/>
            <arg name="manager" value="$(arg manager)" />
            <arg name="model" value="VLP16"/>
            <arg name="port" value="$(arg port)"/>
        </include>
 
        <!-- Transform Nodelet for Velodyne 2 -->
        <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
            <arg name="model" value="VLP16"/>
            <arg name="calibration" value="$(arg calibration)"/>
            <arg name="manager" value="$(arg manager)" />
            <arg name="max_range" value="$(arg max_range)"/>
            <arg name="min_range" value="$(arg min_range)"/>
        </include>
    </group>
 


    <!--  -->

    <!-- <node name="ntrip_client_node" pkg="ntrip_client" type="ntrip_ros.py" output="log" respawn="true">
        <param name="host" value="nrtk.big.go.id" />
        <param name="port" value="2001" />
        <param name="mountpoint" value="Nearest-rtcm3" />
        <param name="ntrip_version" value="" />
        <param name="authenticate" value="true" />
        <param name="username" value="pandustantra" />
        <param name="password" value="pandustantra" />
        <param name="ssl" value="false" />
        <param name="rtcm_frame_id" value="gps_link" />
        <remap from="nmea" to="ntrip_client/nmea" />
        <remap from="rtcm" to="ntrip_client/rtcm" />
    </node> -->

    <!--  -->

    <node pkg="icar_interface" type="interface_stm32" name="interface_stm32" output="screen"  respawn="true"/>
    <node pkg="icar_interface" type="interface_gps" name="interface_gps" output="screen" />
    <node pkg="icar_interface" type="interface_web.py" name="interface_web" output="screen" />

</launch>